<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div #logo class="logo_container">
		<img id="logo" alt="logo" src="./assets/icons/logo.png">
		<h1 id="bigbro">Big Brother</h1>
	</div>

	<iframe #video class="video_container" title="Video Here" style="visibility: hidden;" frameborder="0" allowfullscreen> 

	</iframe>
</body>
</html>
	