body, html{
	background-color: #051345;
	margin:0;
	height: 100%;
	overflow-y: hidden;
}

body {
  position: relative;
}

#logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 55%;
  	width: 276px;
  	height: 139px;
}

#bigbro{
	display: inline;
	font-size: 230%;
	color: #E2F2FB;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	margin-left: 24%;
	margin-bottom: 63%;
}