#rulesicon{
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

#rulestxt{
    color: #50B5FF;
    font-weight: bold;
}

#rules{
    font-size: 1.3em;
    margin-bottom: 45px;
}

#rulesdiv{
    position: absolute;
    left:340px;
    top:53px;
}

.rulediv{
    margin-bottom: 60px;
    width:1300px;
}

.rulesicons{
    filter: invert(100%) sepia(64%) saturate(1464%) hue-rotate(174deg) brightness(103%) contrast(97%);
    height: 90px;
    float:left;      
}

.rulestxt{
    position: relative;
    left:20px;
}

#bookicon{
    padding-bottom: 40px; 
}