<!DOCTYPE HTML> 
<html lang="en">
    <head>
        <title>Big Brother</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <header>
            <button id="homeb" class="navbuttons" routerLink='/TVHome'>
                <img id="homeicon" class="icons" src="./assets/images/header/homeicon.svg" alt="Home Icon">
                <span id="hometxt">Home</span>
            </button>
            <button id="videosb" class="navbuttons">
                <img id="videosicon" class="icons" src="./assets/images/header/videosicon.svg" alt="Videos Icon">
                <span id="videostxt">Videos</span>
            </button>
            <button id="twitterb" class="navbuttons" onclick="window.location.href='twitter.html'">
                <img id="twittericon" class="icons" src="./assets/images/header/twittericon.svg" alt="Twitter Icon">
                <span id="twittertxt">Twitter</span>
            </button>
            <button id="playersb" class="navbuttons" onclick="window.location.href='players1.html'">
                <img id="playersicon" class="icons" src="./assets/images/header/playersicon.svg" alt="Players Icon">
                <span id="playerstxt">Players</span>
            </button>
            <button id="rulesb" class="navbuttons" onclick="window.location.href='rules.html'">
                <img id="rulesicon" class="icons" src="./assets/images/header/rulesicon.svg" alt="Rules Icon">
                <span id="rulestxt">Rules</span>
            </button>
            <div id="bbicondiv">
                <img id=bbicon src="./assets/images/header/bigbrothericon.jpg" alt="Big Brother Icon">
                <div id="bbicontext">BIG BROTHER</div>
            </div>
            <hr>
        </header>
        <div id="maindiv">
            <button id="prevb" class="navbuttons2" routerLink='/TVHome'>
                <img class="nextprevicon" src="./assets/images/header/previcon.svg" alt="Previous Page Icon">
                <span class="nextprevtxt">Home</span>
            </button>
            <button id="nextb" class="navbuttons2" onclick="window.location.href='twitter.html'">
                <span id="nexttxt" class="nextprevtxt">Twitter</span>
                <img id="nexticon" class="nextprevicon" src="./assets/images/header/nexticon.svg" alt="Next Page Icon">
            </button>
            <button id="scrollb">
                <img id="scrollicon" src="./assets/images/players/scrollicon.svg" alt="Scroll Icon">
            </button>
            <div id="videosnavdiv">
                <button id="livestreamsb" class="videosb">Livestreams</button>
                <div id="videosbline"></div>
                <button id="highlightsb" class="videosb" onclick="window.location.href='videos2.html'">Highlights</button><br>
            </div>
            <div id="videosdiv">
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_12.png" alt="Thumbnail 12"></div>
                    <div class="videotxt">Livestream<img id="live" src="./assets/images/live.png" alt="Live icon"></div>
                </div>
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_13.png" alt="Thumbnail 13"></div>
                    <div class="videotxt">Livestream Highlights 10/11</div>
                </div>
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_14.png" alt="Thumbnail 14"></div>
                    <div class="videotxt">Livestream Highlights 10/12</div>
                </div>
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_15.png" alt="Thumbnail 15"></div>
                    <div class="videotxt">Livestream Highlights 10/13</div>
                </div>
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_16.png" alt="Thumbnail 16"></div>
                    <div class="videotxt">Livestream Highlights 10/14</div>
                </div>
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_17.png" alt="Thumbnail 17"></div>
                    <div class="videotxt">Livestream Highlights 10/15</div>
                </div>
                <div class="videodiv">
                    <div class="videoiframe"><img class="thumbnail" src="./assets/images/thumbnails/thumbnail_18.png" alt="Thumbnail 18"></div>
                    <div class="videotxt">Livestream Highlights 10/16</div>
                </div>
            </div>


        </div>
    </body>
</html>