<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img id="logo" alt="logo" src="./assets/icons_table/logo.png">
	<h1 id="bigbro">Big Brother</h1>

	<div class="navbar">
		<div class="nav_element">
			<div class="svgs">
				<img id="home" alt="home" src="./assets/icons_table/homeicon.svg">
			</div>
			<div>
				<a id="home_text">Home</a>
			</div>
		</div>
		<div class="nav_element" onclick="window.location.href='table_videos.html'">
			<div class="svgs">
				<img id="videos" alt="videos" src="./assets/icons_table/play.svg">
			</div>
			<div>
				<a id="videos_text">Videos</a>
			</div>
		</div>
	</div>
</body>
</html>
