<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Big Brother</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <header>
        <button id="homeb" class="navbuttons" routerLink='/TVHome'>
            <img id="homeicon" class="icons" src="./assets/images/header/homeicon.svg" alt="Home Icon">
            <span id="hometxt">Home</span>
        </button>
        <button id="videosb" class="navbuttons" routerLink='/TVLivestreams'>
            <img id="videosicon" class="icons" src="./assets/images/header/videosicon.svg" alt="Videos Icon">
            <span id="videostxt">Videos</span>
        </button>
        <button id="twitterb" class="navbuttons" routerLink='/TVTwitter'>
            <img id="twittericon" class="icons" src="./assets/images/header/twittericon.svg" alt="Twitter Icon">
            <span id="twittertxt">Twitter</span>
        </button>
        <button id="playersb" class="navbuttons">
            <img id="playersicon" class="icons" src="./assets/images/header/playersicon.svg" alt="Players Icon">
            <span id="playerstxt">Players</span>
        </button>
        <button id="rulesb" class="navbuttons" routerLink='/TVRules'>
            <img id="rulesicon" class="icons" src="./assets/images/header/rulesicon.svg" alt="Rules Icon">
            <span id="rulestxt">Rules</span>
        </button>
        <div id="bbicondiv">
            <img id=bbicon src="./assets/images/header/bigbrothericon.jpg" alt="Big Brother Icon">
            <div id="bbicontext">BIG BROTHER</div>
        </div>
        <hr>
    </header>
    <div id="maindiv">
        <button id="prevb" class="navbuttons2" routerLink='/TVTwitter'>
            <img class="nextprevicon" src="./assets/images/header/previcon.svg" alt="Previous Page Icon">
            <span class="nextprevtxt">Twitter</span>
        </button>
        <button id="nextb" class="navbuttons2" routerLink='/TVRules'>
            <span id="nexttxt" class="nextprevtxt">Rules</span>
            <img id="nexticon" class="nextprevicon" src="./assets/images/header/nexticon.svg" alt="Next Page Icon">
        </button>
        <div id="playersnavdiv">
            <button id="playerb" class="playersnavb">
                <img id="playericon" class="playersnavicon" src="./assets/images/players/playericon.svg" alt="Player Icon">
            </button>
            <button id="voteb" class="playersnavb" routerLink='/TVVote'>
                <img id="voteicon" class="playersnavicon" src="./assets/images/players/voteicon.svg" alt="Vote Icon">
            </button>
            <button id="pollb" class="playersnavb" routerLink='/TVPolls'>
                <img id="pollicon" class="playersnavicon" src="./assets/images/players/pollicon.svg" alt="Poll Icon">
            </button>
        </div>
        <button id="scrollb">
            <img id="scrollicon" src="./assets/images/players/scrollicon.svg" alt="Scroll Icon">
        </button>
        <div id="profilesdiv">
            <button class="profileb" [routerLink]="['/TVPlayers','Christmas']">
                <img class="profilephoto" src="./assets/images/players/christmas.png" alt="Christmas Photo">
                <span class="profiletxt">Christmas</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','David']">
                <img class="profilephoto" src="./assets/images/players/david.png" alt="David Photo">
                <span class="profiletxt">David</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Nicole A.']">
                <img class="profilephoto" src="./assets/images/players/nicole_a.png" alt="Nicole A. Photo">
                <span class="profiletxt">Nicole A.</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Dani']">
                <img class="profilephoto" src="./assets/images/players/dani.png" alt="Dani Photo">
                <img class="ripicon" src="./assets/images/players/ripicon.svg" alt="Player Gone Icon">
                <span class="profiletxt">Dani</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Cody']">
                <img class="profilephoto" src="./assets/images/players/cody.png" alt="Cody Photo">
                <span class="profiletxt">Cody</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Kevin']">
                <img class="profilephoto" src="./assets/images/players/kevin.png" alt="Kevin Photo">
                <span class="profiletxt">Kevin</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Tyler']">
                <img class="profilephoto" src="./assets/images/players/tyler.png" alt="Tyler Photo">
                <img class="ripicon" src="./assets/images/players/ripicon.svg" alt="Player Gone Icon">
                <span class="profiletxt">Tyler</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Bayleigh']">
                <img class="profilephoto" src="./assets/images/players/bayleigh.png" alt="Bayleigh Photo">
                <span class="profiletxt">Bayleigh</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Nicole F.']">
                <img class="profilephoto" src="./assets/images/players/nicole_f.png" alt="Nicole F. Photo">
                <span class="profiletxt">Nicole F.</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Memphis']">
                <img class="profilephoto" src="./assets/images/players/memphis.png" alt="Memphis Photo">
                <span class="profiletxt">Memphis</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Enzo']">
                <img class="profilephoto" src="./assets/images/players/enzo.png" alt="Enzo Photo">
                <span class="profiletxt">Enzo</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Janelle']">
                <img class="profilephoto" src="./assets/images/players/janelle.png" alt="Janelle Photo">
                <span class="profiletxt">Janelle</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Kaysar']">
                <img class="profilephoto" src="./assets/images/players/kaysar.png" alt="Kaysar Photo">
                <span class="profiletxt">Kaysar</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Davonne']">
                <img class="profilephoto" src="./assets/images/players/davonne.png" alt="Davonne Photo">
                <span class="profiletxt">Davonne</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Keesha']">
                <img class="profilephoto" src="./assets/images/players/keesha.png" alt="Keesha Photo">
                <span class="profiletxt">Keesha</span>
            </button>
            <button class="profileb" [routerLink]="['/TVPlayers','Ian']">
                <img class="profilephoto" src="./assets/images/players/ian.png" alt="Ian Photo">
                <span class="profiletxt">Ian</span>
            </button>
        </div>
    </div>
</body>

</html>