body{
    margin: 0;
    font-family: 'Roboto';
    font-size: 2.2em;
    color: #E2F2FB;
    background-color: #011248; 
}

body::-webkit-scrollbar {
    display: none;
}

header{ 
    position:sticky;
    top:0px;
    height: 165px;
    background-color: #011248;
    border: 10px;
    border-color: white;
    z-index: 1;
}

button{
    user-select: none;
    background-color: transparent;
    color: #E2F2FB;
    border: none;
    padding: 0;
}

#maindiv{
    position: relative;
}

.navbuttons{
    height: 165px;
    position:absolute;
    font-size: 1em;
    width:150px;
    outline: none;
    cursor: pointer;
}

.navbuttons:hover{
    background-color: #50B5FF;
}

.icons{
    filter: invert(100%) sepia(64%) saturate(1464%) hue-rotate(174deg) brightness(103%) contrast(97%);
}

#homeicon{
    height: 100px;
    padding-bottom: -10px;
}

#videosicon{
    height: 78px;
}

#twittericon{
    height: 90px;
}

#playersicon{
    height: 90px;
}

#rulesicon{
    height: 80px;
}

#videosb{
    left:150px;
}
#twitterb{
    left:300px;
}
#playersb{
    left:450px;
}
#rulesb{
    left:600px;
}

#hometxt{
    position: relative;
    top: -10px;
}

#twittertxt{
    position: relative;
    top: -7px;
}

#playerstxt{
    position: relative;
    top: -7px;
}

#rulestxt{
    position: relative;
    top: -3px;
}

#bbicondiv{
    text-align: center;
    height: 165px;
    width: 220px;
    position: absolute;
    left:50%;
    margin-left: -110px;
}

#bbicon{
    height: 145px;
}

#bbicontext{
    font-weight: bold;
    position: relative;
    bottom:38px;
}

hr{
    position: absolute;
    margin: 0;
    background-color:#E2F2FB;
    position: relative;
    top: 165px;
}

.nextprevicon{
    height: 47px;
}

.nextprevtxt{
    position: relative;
    bottom: 14px;
}

#nexticon{
    position: absolute;
    right:40px;
    top:185px;
}

#nexttxt{
    position: absolute;
    right: 94px;
    top: 191px;
}

.navbuttons2{
    position: fixed;
    height: 420px;
    font-size: 0.8em;
    width:200px;
    top:342px;
    cursor: pointer;
    outline: none;
}

.navbuttons2:hover,#scrollb:hover{
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

.navbuttons:active{
    transform: translateY(3px) translateX(3px);
}

#prevb:active{
    transform: translateX(-10px);
}

#nextb:active{
    transform: translateX(10px);
}

#scrollb:active{
    transform: translateY(5px);
}

#nextb{
    right: 0px;
}

.nextprevicon{
    filter: invert(100%) sepia(64%) saturate(1464%) hue-rotate(174deg) brightness(103%) contrast(97%);
}

#scrollb{
    padding: 25px 25px 400px 50px;
    position: fixed;
    float: right;
    right:206px;
    outline: none;
}
