#voteicon{
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

#voteb:hover{
    background-color: transparent;
}

#week{
    font-size: 1.3em;
    margin-bottom: 20px;
}

#votesdiv{
    position: absolute;
    left:331px;
    top:170px;
}

.votediv{
    display: inline-block;
    width: 426px;
    height: 600px;
    text-align: center;
    margin-left: -78px;   
    margin-right: 139px;
}

.votephoto{
    width:270px;
}

.votetxt{
    font-size: 1.3em;
    font-weight: bold;
}

#commandicon{
    position: relative;
    float: left;
}

#commandtxt{
    position: relative;
    left:20px;
}

#voteddiv{
    position: relative;
    left:175px;
    text-align: center;
    font-size: 1.8em;
}

#votedphoto{
    margin-bottom: 5px;
    height: 540px;
}

#commanddiv{
    margin-top: -60px;
}