#voteicon{
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

#voteb:hover{
    background-color: transparent;
}

#week{
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-left: 220px;
}

#votesdiv{
    position: absolute;
    left:111px;
    top:170px;
    z-index: 1;
}

.votediv{
    display: inline-block;
    height: 600px;
    text-align: center;
    margin-left: 220px;
}

.votephoto{
    width:270px;
}

.votetxt{
    font-size: 1.3em;
    font-weight: bold;
}

#commandicon{
    position: relative;
    float: left;
}

#commandtxt{
    position: relative;
    left:20px;
}

#votedphoto{
    width:270px;
    margin-bottom: 15px;
    position: relative;
    left:714px;
}

#voteddiv{
    text-align: center;
    position: relative;
    left:50%;
    margin-left: 339px;
}

#commanddiv{
    margin-top: -60px;
    margin-left: 220px;
}

#prevb {
    z-index: 2;
}