#pollicon {
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

#pollb:hover {
    background-color: transparent;
}

#polldiv {
    position: absolute;
    left: 151px;
    top: 170px;
    font-size: 1.3em;
    font-weight: bold;
    width: 1440px;
    z-index: 1;
}

#week {
    margin-bottom: 20px;
    margin-left: 180px;
}

.percentagediv {
    position: relative;
    text-align: center;
    height: 640px;
    display: inline-block;
    margin-left: 180px;
}

.rectangle {
    height: 50px;
    width: 300px;
    background-color: #e2f2fb;
    border-radius: 0px 0px 20px 20px;
}

.percentagephotodiv {
    overflow: hidden;
    width: 300px;
    height: 490px;
}

.percentagephoto {
    width: 300px;
    height: 440px;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
}

.percentagenum {
    margin-top: -30px;
    color: black;
}

.percentagetxt {
    margin-top: 10px;
}

.ripicon {
    position: absolute;
    height: 430px;
    top: 25px;
    left: 28px;
}

.updownicon {
    height: 40px;
    filter: invert(100%) sepia(64%) saturate(1464%) hue-rotate(174deg) brightness(103%) contrast(97%);
    padding: 20px;
    z-index: 2;
}

#downb {
    position: absolute;
    top: 825px;
    left: 50%;
    z-index: 2;
    margin-left: -30px;
}

#upb {
    position: absolute;
    left: 50%;
    top: 145px;
    z-index: 2;
    margin-left: -35px;
}

#prevb {
    z-index: 2;
}

.updownb{
    width: 60px;
    height: 60px;
}

.updownb{
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    outline: none;
}

.updownb:hover{
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

#upb:active{
    transform: translateY(-10px);
}

#downb:active{
    transform: translateY(10px);
}