#pollicon{
    filter: invert(60%) sepia(67%) saturate(1761%) hue-rotate(183deg) brightness(103%) contrast(106%);
}

#pollb:hover{
    background-color: transparent;
}

#polldiv{
    position: absolute;
    left:151px;
    top:170px;
    font-size: 1.3em;
    font-weight: bold;
    width:1440px;
}

#week{
    margin-bottom: 20px;
    margin-left: 180px;
}

.percentagediv{
    position: relative;
    text-align: center;
    height: 640px;
    display: inline-block;
    margin-left: 180px;
}

.rectangle{
    height: 50px;
    width: 300px;
    background-color: #E2F2FB;
    border-radius: 0px 0px 20px 20px;
}

.percentagephotodiv{
    overflow: hidden;
    width: 300px;
    height: 490px;
    border-radius: 20px 20px 0px 0px;
}

.percentagephoto{
    width: 300px;
    margin-top: 0px;
}

.percentagenum{
    color: black;
}

.percentagetxt{
    margin-top: 10px;
}

.ripicon{
    position: absolute;
    top:21px;
    left:23px;
}