<button id="prevb" class="navbuttons2" onclick="window.location.href='rules.html'">
    <img class="nextprevicon" src="app/pages/bigbratantv/images/header/previcon.svg" alt="Previous Page Icon">
    <span class="nextprevtxt">Rules</span>
</button>
<button id="nextb" class="navbuttons2" onclick="window.location.href='videos.html'">
    <span id="nexttxt" class="nextprevtxt">Videos</span>
    <img id="nexticon" class="nextprevicon" src="app/pages/bigbratantv/images/header/nexticon.svg" alt="Next Page Icon">
</button>
<img id=bbicon2 src="app/pages/bigbratantv/images/header/bigbrothericon.jpg" alt="Big Brother Icon2">
<button id="liveb">
    <img id="liveicon" src="app/pages/bigbratantv/images/home/liveicon.svg" alt="Watch Live Icon">
    <span id="livetxt"><b>Watch Now</b> </span><span id="livetxt2"><b>Live</b></span>
    <img id="liveicon2" src="app/pages/bigbratantv/images/home/liveicon2.svg" alt="Watch Live Icon2">
</button>
<button id="highlightsb" class="extrab" onclick="window.location.href='videos2.html'">
    <span id="highlightstxt">Highlights</span>
    <img id="highlightsicon" src="app/pages/bigbratantv/images/home/highlightsicon.svg" alt="Highlights Icon">
</button>
<button id="voteb" class="extrab" onclick="window.location.href='players2.html'">
    <span id="votetxt">Vote Now </span>
    <img id="voteicon" src="app/pages/bigbratantv/images/home/votenowicon.svg" alt="Vote Now Icon">
</button>