<!DOCTYPE html>
<html>
<head>
	<title>Videos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img id="logo" alt="logo" src="./assets/icons_table/logo.png">
	<h1 id="bigbro">Big Brother</h1>

	<div class="navbar">
		<div class="nav_element" routerLink='/smartableHome'>
			<div class="svgs">
				<img id="home" alt="home" src="./assets/icons_table/homeicon.svg">
			</div>
			<div>
				<a id="home_text">Home</a>
			</div>
		</div>
		<div class="nav_element">
			<div class="svgs">
				<img id="videos" alt="home" src="./assets/icons_table/play.svg">
			</div>
			<div>
				<a id="videos_text">Videos</a>
			</div>
		</div>
	</div>

	<img id="arrow" alt="arrow" src="./assets/icons_table/up-arrow.svg">

	<div class="videos_bar">
		<div class="wrapper">
			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/-4B6gUkhtNA?autoplay=1&rel=0&enablejsapi=1', 1 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_1"  alt="thumbnail_1" src="./assets/icons_table/thumbnails/thumbnail_1.png">
					<img class="pause" id="pause_1" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(1)">
					<img class="play" id="play_1" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(1)">
					<img class="screenshot" id="screenshot_1" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_1" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Livestream</a><img id="live" alt="live" src="./assets/icons_table/live.png">
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/tG8JXLbIb1A?autoplay=1&rel=0&enablejsapi=1', 2 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_2"  alt="thumbnail_2" src="./assets/icons_table/thumbnails/thumbnail_2.png">
					<img class="pause" id="pause_2" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(2)">
					<img class="play" id="play_2" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(2)">
					<img class="screenshot" id="screenshot_2" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_2" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Nicole and Cody’s Talk Show</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/ve6ASOghJ20?autoplay=1&rel=0&enablejsapi=1', 3 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_3"  alt="thumbnail_3" src="./assets/icons_table/thumbnails/thumbnail_3.png">
					<img class="pause" id="pause_3" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(3)">
					<img class="play" id="play_3" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(3)">
					<img class="screenshot" id="screenshot_3" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_3" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Cooking Challenge</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/vVth99XvPWE?autoplay=1&rel=0&enablejsapi=1', 4 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_4" alt="thumbnail_4" src="./assets/icons_table/thumbnails/thumbnail_4.png">
					<img class="pause" id="pause_4" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(4)">
					<img class="play" id="play_4" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(4)">
					<img class="screenshot" id="screenshot_4" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_4" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Challenge of the Day 23/10</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/ve6ASOghJ20?autoplay=1&rel=0&enablejsapi=1', 5 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_5" alt="thumbnail_5" src="./assets/icons_table/thumbnails/thumbnail_5.png">
					<img class="pause" id="pause_5" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(5)">
					<img class="play" id="play_5" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(5)">
					<img class="screenshot" id="screenshot_5" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_5" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Helping Enzo’s Photoshoot</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/vBjh-Zr9S1E?autoplay=1&rel=0&enablejsapi=1', 6 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_6" alt="thumbnail_6" src="./assets/icons_table/thumbnails/thumbnail_6.png">
					<img class="pause" id="pause_6" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(6)">
					<img class="play" id="play_6" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(6)">
					<img class="screenshot" id="screenshot_6" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_6" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Soccer Game</a>
				</div>
			</div>
			
			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/8B77WsSiZEQ?autoplay=1&rel=0&enablejsapi=1', 7 ,1)">
				<div class="video">
					<img class="thumbnail" id="thumbnail_7" alt="thumbnail_7" src="./assets/icons_table/thumbnails/thumbnail_7.png">
					<img class="pause" id="pause_7" alt="pause" src="./assets/icons_table/pause.png" (click)="pause_play(7)">
					<img class="play" id="play_7" alt="play" src="./assets/icons_table/play.svg" (click)="pause_play(7)">
					<img class="screenshot" id="screenshot_7" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img class="record" id="record_7" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Scare Stairs</a>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>
