<!DOCTYPE html>
<html>
<head>
	<title>Videos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img id="logo" alt="logo" src="./assets/icons_table/logo.png">
	<h1 id="bigbro">Big Brother</h1>

	<div class="navbar">
		<div class="nav_element" routerLink='/smartableHome'>
			<div class="svgs">
				<img id="home" alt="home" src="./assets/icons_table/homeicon.svg">
			</div>
			<div>
				<a id="home_text">Home</a>
			</div>
		</div>
		<div class="nav_element">
			<div class="svgs">
				<img id="videos" alt="home" src="./assets/icons_table/play.svg">
			</div>
			<div>
				<a id="videos_text">Videos</a>
			</div>
		</div>
	</div>

	<img id="arrow" alt="arrow" src="./assets/icons_table/up-arrow.svg">

	<div class="videos_bar">
		<div class="wrapper">
			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/-4B6gUkhtNA?autoplay=1&rel=0')">
				<div class="video" id="video_1">
					<img class="thumbnail" alt="thumbnail_1" src="./assets/icons_table/thumbnails/thumbnail_1.png">
				</div>
				<div class="video_title">
					<a>Livestream</a><img id="live" alt="live" src="./assets/icons_table/live.png">
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/tG8JXLbIb1A?autoplay=1&rel=0')">
				<div class="video">
					<img class="thumbnail" alt="thumbnail_2" style="border-style: solid; border-color: #DB00FF;" src="./assets/icons_table/thumbnails/thumbnail_2.png">
					<img id="pause" alt="pause" src="./assets/icons_table/pause.png">
					<img id="screenshot" alt="screenshot" src="./assets/icons_table/screenshot.png">
					<img id="record" alt="record" src="./assets/icons_table/record.png">
				</div>
				<div class="video_title">
					<a>Nicole and Cody’s Talk Show</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/ve6ASOghJ20?autoplay=1&rel=0')">
				<div class="video">
					<img class="thumbnail" alt="thumbnail_3" src="./assets/icons_table/thumbnails/thumbnail_3.png">
				</div>
				<div class="video_title">
					<a>Cooking Challenge</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/vVth99XvPWE?autoplay=1&rel=0')">
				<div class="video">
					<img class="thumbnail" alt="thumbnail_4" src="./assets/icons_table/thumbnails/thumbnail_4.png">
				</div>
				<div class="video_title">
					<a>Challenge of the Day 23/10</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/ve6ASOghJ20?autoplay=1&rel=0')">
				<div class="video">
					<img class="thumbnail" alt="thumbnail_5" src="./assets/icons_table/thumbnails/thumbnail_5.png">
				</div>
				<div class="video_title">
					<a>Helping Enzo’s Photoshoot</a>
				</div>
			</div>

			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/vBjh-Zr9S1E?autoplay=1&rel=0')">
				<div class="video">
					<img class="thumbnail" alt="thumbnail_6" src="./assets/icons_table/thumbnails/thumbnail_6.png">
				</div>
				<div class="video_title">
					<a>Soccer Game</a>
				</div>
			</div>
			
			<div class="video_element" (click)="playVideo('https://www.youtube.com/embed/8B77WsSiZEQ?autoplay=1&rel=0')">
				<div class="video">
					<img class="thumbnail" alt="thumbnail_7" src="./assets/icons_table/thumbnails/thumbnail_7.png">
				</div>
				<div class="video_title">
					<a>Scare Stairs</a>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>
