<!DOCTYPE html>
<html>

<head>
	<title>Twitter</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="twitter_head">
		<img alt="twitter_icon" src="./assets/icons/twitter.svg">
		<h3>@CBSBigBrother</h3>
	</div>

	<div *ngFor="let event of socketEvents">
		<div *ngFor="let t of event.message.tweets" class="twitter_container">
			<div class="tweet_div">
				<img class="tweet_icon" alt="tweet_icon_1" src="./assets/icons/tweeticon.svg">
				<div class="tweet_text">
					<h4>{{t.name}}</h4>
					<p>{{t.txt}}</p>
				</div>
			</div>
		</div>
	</div>

	<h1 style="color: #051345; margin-bottom: 37%">MARGIN</h1>

	<div class="my_tweet">
		<textarea #text_box id="text_box" placeholder="Write your tweet" rows="3"></textarea>
		<div class="emojis_and_send">
			<img id="emojis" alt="emojis" src="./assets/icons/emojis.png">
			<img id="send" alt="send" src="./assets/icons/send.png" (click)="send()">
		</div>
	</div>
	<div class="navbar">
		<div class="wrap_navbar">
			<div class="nav_element" routerLink='/homepageSmartphone'>
				<div class="svgs">
					<img id="home" alt="home" src="./assets/icons/home.svg">
				</div>
				<div class="caption">
					<a>Home</a>
				</div>
			</div>

			<div class="nav_element">
				<div class="svgs">
					<img id="twitter" alt="twitter"
						style="filter: invert(70%) sepia(18%) saturate(6178%) hue-rotate(178deg) brightness(99%) contrast(101%);"
						src="./assets/icons/twitter.svg">
				</div>
				<div class="caption">
					<a style="font-weight:bold; color: #50B5FF;">Twitter</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/voteSmartphone'>
				<div class="svgs">
					<img id="vote" alt="vote" src="./assets/icons/vote.svg">
				</div>
				<div class="caption">
					<a>&nbsp;&nbsp;Vote</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/smartphonePlayers'>
				<div class="svgs">
					<img id="players" alt="players" src="./assets/icons/users-group.svg">
				</div>
				<div class="caption">
					<a>Players</a>
				</div>
			</div>

			<div class="nav_element">
				<div class="svgs">
					<img id="profile" alt="profile" src="./assets/icons/user.svg">
				</div>
				<div class="caption">
					<a>John</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>