<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Big Brother</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body *ngFor="let event of socketEvents">
    <header>
        <button id="homeb" class="navbuttons" routerLink='/TVHome'>
            <img id="homeicon" class="icons" src="./assets/images/header/homeicon.svg" alt="Home Icon">
            <span id="hometxt">Home</span>
        </button>
        <button id="videosb" class="navbuttons" routerLink='/TVLivestreams'>
            <img id="videosicon" class="icons" src="./assets/images/header/videosicon.svg" alt="Videos Icon">
            <span id="videostxt">Videos</span>
        </button>
        <button id="twitterb" class="navbuttons" routerLink='/TVTwitter'>
            <img id="twittericon" class="icons" src="./assets/images/header/twittericon.svg" alt="Twitter Icon">
            <span id="twittertxt">Twitter</span>
        </button>
        <button id="playersb" class="navbuttons">
            <img id="playersicon" class="icons" src="./assets/images/header/playersicon.svg" alt="Players Icon">
            <span id="playerstxt">Players</span>
        </button>
        <button id="rulesb" class="navbuttons" routerLink='/TVRules'>
            <img id="rulesicon" class="icons" src="./assets/images/header/rulesicon.svg" alt="Rules Icon">
            <span id="rulestxt">Rules</span>
        </button>
        <div id="bbicondiv">
            <img id=bbicon src="./assets/images/header/bigbrothericon.jpg" alt="Big Brother Icon">
            <div id="bbicontext">BIG BROTHER</div>
        </div>
        <hr>
    </header>
    <div id="maindiv">
        <button id="prevb" class="navbuttons2" routerLink='/TVTwitter'>
            <img class="nextprevicon" src="./assets/images/header/previcon.svg" alt="Previous Page Icon">
            <span class="nextprevtxt"> Twitter</span>
        </button>
        <button id="nextb" class="navbuttons2" routerLink='/TVRules'>
            <span id="nexttxt" class="nextprevtxt">Rules</span>
            <img id="nexticon" class="nextprevicon" src="./assets/images/header/nexticon.svg" alt="Next Page Icon">
        </button>
        <button id="playerb" class="playersnavb" routerLink='/TVPlayers'>
            <img id="playericon" class="playersnavicon" src="./assets/images/players/playericon.svg" alt="Player Icon">
        </button>
        <button id="voteb" class="playersnavb">
            <img id="voteicon" class="playersnavicon" src="./assets/images/players/voteicon.svg" alt="Vote Icon">
        </button>
        <button id="pollb" class="playersnavb" routerLink='/TVPolls'>
            <img id="pollicon" class="playersnavicon" src="./assets/images/players/pollicon.svg" alt="Poll Icon">
        </button>
        <div id="votesdiv">
            <div id="week"><b>Week 5</b></div>
            <img id="votedphoto" src="{{event.message.img}}" alt="Nicole A. Photo">
            <div id='voteddiv'>You voted for <span id="votedtxt"><b>{{event.message.name}}</b></span><br>Thank you!
            </div>
        </div>
    </div>
</body>

</html>