<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Big Brother</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <header>
        <button id="homeb" class="navbuttons" routerLink='/TVHome'>
            <img id="homeicon" class="icons" src="./assets/images/header/homeicon.svg" alt="Home Icon">
            <span id="hometxt">Home</span>
        </button>
        <button id="videosb" class="navbuttons" routerLink='/TVLivestreams'>
            <img id="videosicon" class="icons" src="./assets/images/header/videosicon.svg" alt="Videos Icon">
            <span id="videostxt">Videos</span>
        </button>
        <button id="twitterb" class="navbuttons">
            <img id="twittericon" class="icons" src="./assets/images/header/twittericon.svg" alt="Twitter Icon">
            <span id="twittertxt">Twitter</span>
        </button>
        <button id="playersb" class="navbuttons" routerLink='/TVPlayers'>
            <img id="playersicon" class="icons" src="./assets/images/header/playersicon.svg" alt="Players Icon">
            <span id="playerstxt">Players</span>
        </button>
        <button id="rulesb" class="navbuttons" routerLink='/TVRules'>
            <img id="rulesicon" class="icons" src="./assets/images/header/rulesicon.svg" alt="Rules Icon">
            <span id="rulestxt">Rules</span>
        </button>
        <div id="bbicondiv">
            <img id=bbicon src="./assets/images/header/bigbrothericon.jpg" alt="Big Brother Icon">
            <div id="bbicontext">BIG BROTHER</div>
        </div>
        <hr>
    </header>
    <div id="maindiv">
        <button id="prevb" class="navbuttons2" routerLink='/TVLivestreams'>
            <img class="nextprevicon" src="./assets/images/header/previcon.svg" alt="Previous Page Icon">
            <span class="nextprevtxt">Videos</span>
        </button>
        <button id="nextb" class="navbuttons2" routerLink='/TVPlayers'>
            <span id="nexttxt" class="nextprevtxt">Players</span>
            <img id="nexticon" class="nextprevicon" src="./assets/images/header/nexticon.svg" alt="Next Page Icon">
        </button>
        <button id="scrollb">
            <img id="scrollicon" src="./assets/images/players/scrollicon.svg" alt="Scroll Icon">
        </button>
        <div id="tweetsdiv">
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Chad</h2>
                    <p>What a great episode &#128514;</p>
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>John</h2>
                    <p>Teleutaia trww healty
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Bill</h2>
                    <p>NAIIII NAIIIIIIII Interdum et malesuada fames ac ante ipsum</p>
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Christos</h2>
                    <p>Ela reee big brother</p>
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Papas</h2>
                    <p>Crispy kremudaki Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed dui eget est
                        venenatis tincidunt cursus ac libero. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque in dui a lacus faucibus finibus. Orci varius natoque penatibus et magnis
                        dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Baggelo</h2>
                    <p>Ti kaneiiiiiiiiiiiiiii</p>
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Chris</h2>
                    <p>Eeeeela re boiii Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus.</p>
                </div>
            </div>
            <div class="tweetdiv">
                <img class="tweeticon" src="./assets/images/twitter/tweeticon.svg" alt="Tweet Icon">
                <div class="tweettxt">
                    <h2>Stathis</h2>
                    <p>Na sou kanw mia traka</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>