<!DOCTYPE html>
<html>
<head>
	<title>Vote</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="vote_title">
		<h1>Vote</h1>
		<h3>Week 5</h3><br>
	</div>

	<img id="player_image" alt="player_image" src="./assets/icons/players/Cody.jpg">
	<h1 id="text">You Voted for <span style="font-weight: bold;">Cody</span>.<br>Thank you!</h1>

	<div class="navbar">
		<div class="wrap_navbar">
			<div class="nav_element" routerLink='/homepageSmartphone'>
				<div class="svgs">
					<img id="home" alt="home" src="./assets/icons/home.svg">
				</div>
				<div class="caption">
					<a>Home</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/twitterSmartphone'>
				<div class="svgs">
					<img id="twitter" alt="twitter" src="./assets/icons/twitter.svg">
				</div>
				<div class="caption">
					<a>Twitter</a>
				</div>
			</div>

			<div class="nav_element">
				<div class="svgs">
					<img id="vote" alt="vote" style="filter: invert(70%) sepia(18%) saturate(6178%) hue-rotate(178deg) brightness(99%) contrast(101%);" src="./assets/icons/vote.svg">
				</div>
				<div class="caption">
					<a style="font-weight:bold; color: #50B5FF;">&nbsp;&nbsp;Vote</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/smartphonePlayers'>
				<div class="svgs">
					<img id="players" alt="players" src="./assets/icons/users-group.svg">
				</div>
				<div class="caption">
					<a>Players</a>
				</div>
			</div>

			<div class="nav_element">
				<div class="svgs">
					<img id="profile" alt="profil" src="./assets/icons/user.svg">
				</div>
				<div class="caption">
					<a>John</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	