<!DOCTYPE html>
<html>
<head>
	<title>Christmas</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body *ngFor="let event of socketEvents">
	
	<div class="players_title">
		<h1>Players</h1><img id="arrow" alt="arrow" src="./assets/icons/triangle.png"><h1>Christmas</h1>
	</div>

	<div class="back" routerLink='/smartphonePlayers'>
		<img id="back_arrow" alt="back_arrow" src="./assets/icons/back_arrow.png">
		<h4 id="back_text">Back to players list</h4>
	</div>

	<div class="profile">
		<img id="arrows_left" alt="arrows_left" src="./assets/icons/arrows_left.png">
		<div class="image_and_name">
			<img id="profile_image" alt="profile_image" src="{{event.message.img}}">
			<h3 id="name">{{event.message.name}}</h3>
		</div>
		<img id="arrows_right" alt="arrows_right" src="/assets/icons/arrows_right.png" (click)="nextPlayer(event.message.name)">
	</div>

	<div class="info">
		<h4>
			<span style="font-weight: bold;">Age:</span>{{event.message.age}}<br>
			<span style="font-weight: bold;">Hometown:</span>{{event.message.hometown}}<br>
			<span style="font-weight: bold;">Current city:</span>{{event.message.city}}<br>
			<span style="font-weight: bold;">Occupation:</span>{{event.message.occupation}}<br>
			<span style="font-weight: bold;">Points:</span>{{event.message.points}}<br>
			<br>
			<span style="font-weight: bold;">Why do you want to play in Big Brother?</span><br>
			{{event.message.fax}}
		</h4>
	</div>

	<div class="ask">
		<textarea id="text_box" placeholder="Ask {{event.message.name}} anything:" rows="5" cols="45"></textarea>
		<div class="emojis_and_send">
			<img id="emojis" alt="emojis" src="./assets/icons/emojis.png">
			<img id="send" alt="send" src="./assets/icons/send.png">
		</div>
	</div>

	<div class="navbar">
		<div class="wrap_navbar">
			<div class="nav_element" routerLink='/homepageSmartphone'>
				<div class="svgs">
					<img id="home" alt="home" src="./assets/icons/home.svg">
				</div>
				<div class="caption">
					<a>Home</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/twitterSmartphone'>
				<div class="svgs">
					<img id="twitter" alt="twitter" src="./assets/icons/twitter.svg">
				</div>
				<div class="caption">
					<a>Twitter</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/voteSmartphone'>
				<div class="svgs">
					<img id="vote" alt="vote" src="./assets/icons/vote.svg">
				</div>
				<div class="caption">
					<a>&nbsp;&nbsp;Vote</a>
				</div>
			</div>

			<div class="nav_element" routerLink='/smartphonePlayers'>
				<div class="svgs">
					<img id="players" style="filter: invert(70%) sepia(18%) saturate(6178%) hue-rotate(178deg) brightness(99%) contrast(101%);" alt="players" src="./assets/icons/users-group.svg">
				</div>
				<div class="caption">
					<a style="font-weight:bold; color: #50B5FF;">Players</a>
				</div>
			</div>

			<div class="nav_element">
				<div class="svgs">
					<img id="profile" alt="profile" src="./assets/icons/user.svg">
				</div>
				<div class="caption">
					<a>John</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	